<section class="interiror-projects">
	<div class="projects__container _container">
		<div class="projects__top">
			<h2 class="projects__title">
				Related projects
			</h2>
			<div class="slider-projects__controls controls-slider-projects">
				<div class="controls-slider-projects__arrows">
					<button type="button" class="slider-arrow slider-arrow__projects slider-arrow_orange slider-arrow__projects_prev _icon-arrow-link"></button>
					<button type="button" class="slider-arrow slider-arrow__projects slider-arrow_orange slider-arrow__projects_next _icon-arrow-link"></button>
				</div>
			</div>
		</div>
		<div class="slider-wrapper">
			<div class="projects__body _swiper">
				<div class="projects__item item-projects">
					<a href="#" class="item-projects__content">
						<img class="item-projects__image" src="img/project-slider/interior-1.jpg" alt="">
					</a>
					<div class="item-projects__descr">
						<h3 class="item-projects__title">Kids Bedroom With Decorations</h3>
						<p class="item-projects__subtitle">Apartments & flats</p>
						<a class="item-projects__btn">View Project</a>
					</div>
				</div>
				<div class="projects__item item-projects">
					<a href="#" class="item-projects__content">
						<img class="item-projects__image" src="img/project-slider/interior-2.jpg" alt="">
					</a>
					<div class="item-projects__descr">
						<h3 class="item-projects__title">Modern Double Bedroom</h3>
						<p class="item-projects__subtitle">Apartments & flats</p>
						<a class="item-projects__btn">View Project</a>
					</div>
				</div>
				<div class="projects__item item-projects">
					<a href="#" class="item-projects__content">
						<img class="item-projects__image" src="img/project-slider/interior-3.jpg" alt="">
					</a>
					<div class="item-projects__descr">
						<h3 class="item-projects__title">Scandinavian Style Interior</h3>
						<p class="item-projects__subtitle">Private houses</p>
						<a class="item-projects__btn">View Project</a>
					</div>
				</div>
			</div>

		</div>

		<div class="projects__view view-projects view">
			<h4 class="view-projects__title about view__title">Explore all our works</h4>
			<a href="" class="view-projects__btn view__btn btn">View portfolio</a>
		</div>
	</div>
</section>