<section class="main-slider">
	<div class="main-slider__body _swiper">
		<div class="main-slider__item item-main-slider">
			<div class="item-main-slider__container _container">
				<div class="item-main-slider__body">
					<h1 class="item-main-slider__title">CREATE<span>X</span>
						CONSTRUCTION</h1>
					<div class="item-main-slider__text">Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed.
						Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
					</div>
					<div class="item-main-slider__buttons">
						<a href="" class="item-main-slider__btn btn btn_gray">Learn more about us</a>
						<a href="" class="item-main-slider__btn btn">SUBMIT REQUEST</a>
					</div>
				</div>
			</div>
		</div>
		<div class="main-slider__item item-main-slider">
			<div class="item-main-slider__container _container">
				<div class="item-main-slider__body">
					<h1 class="item-main-slider__title">CREATE<span>X</span>
						CONSTRUCTION</h1>
					<div class="item-main-slider__text">Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed.
						Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
					</div>
					<div class="item-main-slider__buttons">
						<a href="" class="item-main-slider__btn btn btn_gray">Learn more about us</a>
						<a href="" class="item-main-slider__btn btn">SUBMIT REQUEST</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-main__controls controls-slider-main">
		<div class="controls-slider-main__dotts"></div>
		<div class="controls-slider-main__arrows main-slider-arrows">
			<button type="button" class="slider-arrow slider-arrow_gray slider-arrow__main_prev _icon-arrow-link"></button>
			<button type="button" class="slider-arrow slider-arrow_gray slider-arrow__main_next _icon-arrow-link"></button>
		</div>
	</div>
</section>
