<section class="partners__reviews reviews-partners">
	<div class="partners__container _container">
		<div class="reviews-partners__wrapper">
			<div class="reviews-partners__items reviews-partners__items_left reviews">
				<div class="items__wrapper">
					<div class="reviews__title">What our clients are saying</div>
					<div class="reviews__slider reviews-slider">
						<div class="reviews-slider__body _swiper">
							<div class="reviews-slider__item">
								<div class="reviews-slider__avatar"><img src="img/reviews/avatar.png" alt=""></div>
								<div class="reviews-slider__text">Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum
									consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco. </div>
								<div class="reviews-slider__name">Shawn Edwards</div>
								<div class="reviews-slider__range">Position, Company name</div>
							</div>
						</div>
						<div class="slider-partners__controls controls-slider-reviews">
							<div class="controls-slider-reviews__arrows">
								<button type="button" class="slider-arrow slider-arrow__reviews slider-arrow_orange slider-arrow__reviews_prev _icon-arrow-link"></button>
								<button type="button" class="slider-arrow slider-arrow__reviews slider-arrow_orange slider-arrow__reviews_next _icon-arrow-link"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="reviews-partners__items reviews-partners__items_right">
				<div class="reviews-partners__block-image">
					<img src="img/reviews/1.jpg" alt="" class="reviews-partners__image">
				</div>
			</div>

		</div>
	</div>
</section>