<section class="services-hero hero">
	<div class="hero__container _container">
		<ul class="hero__return return">
			<li class="return__item">
				<a href="#" class="return__link">Homepage</a>
			</li>
			<li class="return__item">
				<a class="return__link return__link-current">Services</a>
			</li>
		</ul>
		<h1 class="hero__title">Services</h1>
		<p class="hero__descr">
			If&nbsp;you are looking for a&nbsp;full-service construction company, look to&nbsp;Createx Construction Bureau.
			We&nbsp;are doing our best to&nbsp;be&nbsp;a&nbsp;partner for all of&nbsp;your construction needs.
		</p>
	</div>
</section>
