.footer {
	padding: 80px 0;
	color: rgba(255, 255, 255, 0.6);
	background-color: #1e212c;

	// .footer__container

	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 30px;
	}

	// .footer__left

	&__left {
		grid-column: 7 span;
	}

	// .footer__logo

	&__logo {
		margin-right: 60px;
	}

	// .footer__top

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 22px;
	}

	// .footer__descr

	&__descr {
		margin: 0;
		width: 100%;
		max-width: 495px;
		font-size: 14px;
		line-height: 150%;
	}

	// .footer__form

	&__form {
		grid-column: 5 span;
	}

	// .footer__address

	&__address {
		grid-column: 4 span;
	}

	// .footer__nav

	&__nav {
		grid-column: 8 span;
	}

	// .footer__copyright

	&__copyright {
		grid-column: 12 span;
		padding-top: 30px;
		font-size: 12px;
		line-height: 150%;
		color: var(--color-white);

		span {
			padding-left: 22px;
			background-image: url('../img/icons/heart.svg');
			background-position: 2px center;
			background-size: 16px 16px;
			background-repeat: no-repeat;
		}
	}
}

.footer-form {
	// .footer-form__title

	&__title {
		margin: 0;
		margin-bottom: 24px;
		font-weight: 700;
		font-size: 24px;
		line-height: 150%;
		color: var(--color-white);
	}

	// .footer-form__items

	&__items {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}

	// .footer-form__descr

	&__descr {
		margin: 0;
		font-size: 12px;
		line-height: 150%;
	}
}

.footer-title {
	margin: 0;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--color-white);
}

.footer-address {
	padding-top: 20px;
	font-style: normal;

	// .footer-address__item

	&__item {
		display: block;
		font-size: 16px;
		line-height: 160%;

		&:not(:last-child) {
			margin-bottom: 4px;
		}

		a {
			color: inherit;
		}
	}

	// .footer-address__name

	&__name {
		color: var(--color-white);
	}
}

.footer-nav {
	display: flex;
	padding-top: 20px;
	padding-left: 54px;

	// .footer-nav__col

	&__col {
		&:not(:last-child) {
			margin-right: 125px;
		}
	}

	// .footer-nav__item

	&__item {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	// .footer-nav__link

	&__link {
		font-size: 16px;
		line-height: 160%;
		color: inherit;
	}
}

.social {
	display: flex;
	align-items: center;

	// .social__item

	&__item {
		&:not(:last-child) {
			margin-right: 16px;
		}
	}

	// .social__link

	&__link {
		display: block;
		width: 24px;
		height: 24px;

		svg {
			display: block;
			width: 100%;
			height: 100%;
			fill: var(--color-white);
			object-fit: cover;
			opacity: 0.6;
		}
	}
}
